.article {
  width: 15.8rem;
  border: solid white;
  border-radius: 0.8em;
}

/* Recipe Image */
.article img {
  border: solid white;
  border-radius: 0.8em;
}

/* Calories, Yield and Time labels */
.article label {
  font-size: small;
  color: black;
  padding-left: 0.5em;
}

.article a {
  font-size: small;
  color: black;
  text-decoration: none;
}

/* Recipe Title */
.article h4 {
  font-size: 1.5em;
  color: #1e7f28;
  /* color: #881c37; */
  font-family: "Roboto";
}

.recipelist {
  background-color: whitesmoke;
  font-family: "Roboto";
}

/* Found x Recipe label */
.recipelist h5 {
  text-align: center;
  color: rgb(96, 96, 96);
  font-family: "Roboto";
}

.recipelistContainer {
  width: 100%;
  overflow-x: auto;
}

.recipelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
}
