@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.card div {
  background-color: #ffe3cd;
  font-family: "Roboto", sans-serif;
}

.card {
  margin-bottom: -0.5cm;
}

.card button {
  background-color: black;
  border-color: black;
}

.newsletter div {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  border: none;
}

.newsletter button {
  background-color: black;
  border-color: black;
}
